LIVEKIT_URL=ws://51.38.99.1:7880
LIVEKIT_KEY=your-livekit-key-here
LIVEKIT_SECRET=your-livekit-secret-here
GROQ_API_KEY=your-groq-key
GEMINI_API_KEY=your-gemini-key
YANDEX_API_KEY=your-yandex-key
YANDEX_FOLDER_ID=your-folder-id
YANDEX_TTS_VOICE=amira
